:root {
  --billboard-info-width: 10vw;
  --billboard-info-height: 4vw;
  --billboard-info-width-m: 14vw;
  --billboard-info-height-m: 5vw;
  --billboard-info-width-sm: 16vw;
  --billboard-info-height-sm: 6vw;

  --billboard-info-font: 1.5vw;
  --billboard-info-font-m: 2vw;
  --billboard-info-font-sm: 3vw;

  --billboard-sound: 3vw;
  --billboard-sound-lg: 4vw;
  --billboard-sound-m: 5.5vw;
  --billboard-sound-sm: 7vw;

  --billboard-sound-safari: 40px;
  --billboard-sound-safari-lg: 50px;
  --billboard-sound-safari-m: 50px;
  --billboard-sound-safari-lg: 50px;

  --billboard-age: 10vw;
  --billboard-age-m: 12vw;

  --billboard-description-font: 1.4vw;
  --billboard-description-font-m: 2vw;

  --billboard-description-width: 35vw;
  --billboard-description-width-m: 45vw;

  --billboard-description-height: 35vw;
}

.billboard {
  width: 80vw;
  height: 40vw;
}

.billboard-container {
  aspect-ratio: 1 / 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 5vw;
  z-index: 5;
}

.billboard-metadata {
  display: flex;
  flex-direction: column;
  align-items: start;
  opacity: 1;
  transform: scale(1) translateX(0) translateY(0);
  transition: opacity, transform;
  transition-duration: 1.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 1.5s;
}

.billboard-metadata.active {
  opacity: 0.5;
  transform: scale(0.9) translateX(-5%) translateY(5%);
}

.billboard-logo {
  width: 35vw;
  margin-block-end: 2vh;
}

.billboard-promotion {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-block-end: 2vh;
  width: 30vw;
}

.billboard-icon {
  width: 2.5vw;
  height: 2.5vw;
  min-width: 20px;
  min-height: 20px;
  aspect-ratio: 1 / 1;
}

.billboard-promotion-text {
  font-size: 1.5vw;
  font-weight: bold;
}

.billboard-description {
  font-size: var(--billboard-description-font);
  min-width: var(--billboard-description-width);
  max-width: var(--billboard-description-height);
  margin-block-end: 2vh;
  transition: opacity 1s ease-in-out;
}

.billboard-buttons {
  display: flex;
  gap: 16px;
}

.billboard-play,
.billboard-info {
  min-width: var(--billboard-info-width);
  padding-inline: 2vw;
  min-height: var(--billboard-info-height);
  border-radius: 5px;
  font-size: var(--billboard-info-font);
  font-weight: bold;
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  border: none;
}

.billboard-play {
  gap: 8px;
}

.billboard-info .billboard-icon {
  width: 2vw;
  height: 2vw;
  aspect-ratio: 1 / 1;
}

.billboard-play {
  color: rgb(20, 20, 20);
  fill: rgb(20, 20, 20);
  background-color: var(--white);
}

.billboard-play:hover {
  background-color: rgb(200, 200, 200, 0.8);
}

.billboard-info {
  background-color: rgb(120, 120, 120, 0.5);
  color: var(--white);
  fill: var(--white);
}

.billboard-info:hover {
  background-color: rgb(120, 120, 120, 0.2);
}

.billboard-controls {
  margin-inline-start: auto;
  margin-block-end: 8vw;
  align-self: end;
  display: flex;
  gap: 16px;
  align-items: center;
}

.billboard-sound {
  border-radius: 50%;
  min-height: var(--billboard-sound);
  max-height: var(--billboard-sound);
  max-width: max-content;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.billboard-sound .billboard-icon {
  width: 75%;
  height: 75%;
  min-width: 16px;
  min-height: 16px;
  fill: var(--white);
}

.billboard-sound:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.billboard-age-rating {
  width: var(--billboard-age);
  padding-block: 8px;
  padding-inline-start: 16px;
  border-inline-start: 2px solid var(--white);
  background-color: rgb(51, 51, 51, 0.6);
}

.billboard-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100;
  z-index: -1;
}

.billboard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
  transition: opacity 0.5s ease-in-out;
}

.billboard-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  opacity: 1;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 85%,
    transparent 100%
  );
  transition: opacity 0.5s ease-in-out;
}

.opaque {
  opacity: 0;
}

.hidden {
  display: none;
}

@media (max-width: 1100px) {
  .billboard-sound {
    min-height: var(--billboard-sound-lg);
  }
}

@media (max-width: 800px) {
  .billboard-promotion {
    display: none;
  }

  .billboard-sound {
    min-height: var(--billboard-sound-m);
  }

  .billboard-info,
  .billboard-play {
    min-width: var(--billboard-info-width-m);
    min-height: var(--billboard-info-height-m);
    font-size: var(--billboard-info-font-m);
  }

  .billboard-description {
    font-size: var(--billboard-description-font-m);
    min-width: var(--billboard-description-width-m);
  }

  .billboard-age-rating {
    width: var(--billboard-age-m);
  }
}

@media (max-width: 500px) {
  .billboard-metadata {
    padding-block-start: 4vh;
  }
  .billboard-sound {
    min-height: var(--billboard-sound-sm);
  }

  .billboard-info,
  .billboard-play {
    min-width: var(--billboard-info-width-sm);
    min-height: var(--billboard-info-height-sm);
    font-size: var(--billboard-info-font-sm);
  }

  .billboard-description {
    display: none;
  }
}
