body {
  background-color: var(--main-bg-color);
  color: var(--white);
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu",
    sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

header {
  position: sticky;
  top: 0;
}

.main-header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  min-height: 70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.5vw;
  font-size: 14px;
}

.header-block-start {
  display: flex;
}

.main-navigation {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.main-navigation-active {
  font-weight: bold;
}

.main-logo {
  margin-inline-end: 2.5vw;
  width: 95px;
  height: 25px;
}

.main-logo::before {
  display: inline-block;
  content: "";
  background-image: url("../imgs/misc/Netflix_2015_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.navigation-item:hover a {
  transition: all 0.25s;
  color: var(--main-text-color);
}

.secondary-navigation {
  display: flex;
  align-items: center;
}

.icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.secondary-navigation-item {
  padding-inline: 8px;
  margin-inline-end: 16px;
  cursor: pointer;
}

.user-profile {
  width: 60px;
  height: 32px;
  display: flex;
  align-items: center;
}

.user-profile:hover .cadet {
  transform: rotate(180deg);
}

.profile-picture {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  margin-inline-end: 8px;
}

.cadet {
  border-color: var(--white) transparent transparent;
  border-width: 5px 5px 0;
  border-style: solid;
  display: inline-block;
  min-width: 10px;
  transition: all 0.25s;
}
