:root {
  --show-item-size: 15vw;
  --items-per-page: 6;
  --pagination-width: 20px;
  --category-title-size: 1.6vw;
}

.category-container {
  display: flex;
  flex-direction: column;
  min-width: 90vw;
  margin-block: var(--margin-value);
  overflow-x: hidden;
}

.category-container * {
  z-index: 5;
}

.category-metadata {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-inline: 5vw;
  margin-block-end: calc(var(--margin-value) * 0.5);
}

.category-pagination {
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--category-title-size);
}

.category-pages {
  list-style: none;
  display: flex;
  gap: 5px;
}

.pagination {
  min-width: var(--pagination-width);
  border-bottom: 1px solid gray;
  transition: border 0.33s ease-out;
}

.pagination.active {
  border-color: white;
}

.category-main-content {
  position: relative;
}

.category-shows {
  display: flex;
  padding-inline: 5vw;
  /* Formula to calculate how much to translate to show the next set of items 
  Takes one show item size, multiplies it by how many shows per page. The -1 is just to translate in the opposite direction.*/
  transform: translateX(
    /* calc(var(--show-item-size) * var(--items-per-page) * -1) */
  );
}

.animatable {
  transition: transform 0.5s ease-in-out;
}

.category-item {
  flex: 0 0 var(--show-item-size);
  padding: 3px;
  position: relative;
  /* border: 1px dashed white; */
}

.show-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1.72 / 1;
}

.show-img img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: contain;
}

.show-logo {
  position: absolute;
  bottom: 8px;
  left: 8px;
  max-width: 50%;
  max-height: 50%;
}

.category-loading-skeleton {
  min-width: 10vw;
  min-height: 2vh;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.2);
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(70, 70, 70, 0.2);
  }

  100% {
    background-color: rgba(70, 70, 70, 0.8);
  }
}

.slide {
  height: 100%;
  width: 5vw;
  position: absolute;
  /* border: 1px solid red; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgb(0, 0, 0, 0.2);
}

.slide:hover {
  background-color: rgb(0, 0, 0, 0.4);
}

.slide-right::before {
  mask: url('../imgs/misc/chevron-compact-right.svg') no-repeat 50% 50%;
}

.slide-right {
  right: 0;
  top: 0;
  bottom: 0;
}

.slide-left::before {
  mask: url('../imgs/misc/chevron-compact-left.svg') no-repeat 50% 50%;
}

.slide-left {
  left: 0;
  top: 0;
}

.slide::before {
  width: 2.5vw;
  height: 2.5vw;
  content: '';
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--white);
  transition: all 0.2s ease-out;
}

.slide:hover::before {
  width: 3.5vw;
  height: 3.5vw;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0;
}

/* These next classes are for styling hover show div(s) */

.category-item-hover {
  flex: 0 0 var(--show-item-size);
  position: absolute;
  aspect-ratio: 1 / 1;
  overflow-y: visible;
  z-index: 1000;
  /* border: 1px dashed white; */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(24, 24, 24);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-middle {
  animation: scaleUp 0.33s ease-out;
  animation-fill-mode: forwards;
}

.category-first {
  animation: shiftRight 0.33s ease-out;
  animation-fill-mode: forwards;
}

.category-last {
  animation: shiftLeft 0.33s ease-out;
  animation-fill-mode: forwards;
}

.category-item-unhover-middle {
  animation: scaleDown 0.66s ease-in;
}

.category-item-unhover-first {
  animation: unshiftRight 0.66s ease-in;
}

.category-item-unhover-last {
  animation: unshiftLeft 0.66s ease-in;
}

.category-hover-data {
  padding-inline: 16px;
  display: flex;
  flex: 1;
  padding-block-end: 16px;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  font-size: 0.75vw;
  color: rgba(255, 255, 255, 0.75);
}

.category-icon {
  border-radius: 50%;
  min-height: 3vh;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.category-icon-left,
.category-icon-right {
  display: flex;
  gap: 6px;
}

.category-icon-white {
  border: 2px solid var(--white);
  background-color: var(--white);
}

.category-icon-white:hover {
  background-color: rgba(200, 200, 200);
  border-color: rgba(200, 200, 200);
}

.category-icon-transparent {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}

.category-icon-transparent:hover {
  border-color: var(--white);
}

.category-icon-white svg {
  width: 75%;
  height: 75%;
  fill: var(--main-bg-color);
}

.category-icon-transparent svg {
  width: 60%;
  height: 60%;
  fill: var(--white);
}

.category-icons {
  display: flex;
  justify-content: space-between;
}

.category-item-metadata {
  display: flex;
  align-items: center;
  gap: 8;
}

.category-match {
  font-weight: bold;
  color: rgb(70, 211, 105);
}

.category-age-rating {
  display: inline-block;
  padding-inline: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5vw;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.category-special-badge {
  display: inline-block;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 4px;
  font-size: 0.5vw;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.category-item-genres {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 8px;
  opacity: 0;
  font-size: 0.65vw;
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: 0.25s;
}

.separator::before {
  content: '\23FA';
  color: rgba(255, 255, 255, 0.25);
  padding-inline-end: 8px;
  font-size: 10px;
}

/* .show-img-hover {
  height: auto;
  aspect-ratio: 1.72 / 1;
}

.show-img-hover img {
  border-radius: 5%;
  object-fit: contain;
} */

.tooltip {
  position: absolute;
  top: 30%;
  padding-inline: 0px;
  font-size: 0.75vw;
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  min-width: max-content;
  z-index: 1001;
}

.tooltip-message {
  color: var(--main-bg-color);
  font-weight: bold;
  padding-inline: 1vw;
}

.tooltip-arrow {
  position: absolute;
  left: calc(50% - 7.5px);
  top: 90%;
  width: 10px;
  border: 7.5px solid;
  border-color: rgb(230, 230, 230) transparent transparent;
}

.intersection-observer {
  min-height: 50px;
  background-color: rebeccapurple;
  opacity: 0;
  position: relative;
  bottom: 30vh;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

@keyframes shiftRight {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }

  100% {
    transform: translateX(20%) scale(1.4);
    opacity: 1;
  }
}

@keyframes unshiftRight {
  0% {
    transform: translateX(20%) scale(1.4);
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }
}

@keyframes shiftLeft {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }

  100% {
    transform: translateX(-20%) scale(1.4);
    opacity: 1;
  }
}

@keyframes unshiftLeft {
  0% {
    transform: translateX(-20%) scale(1.4);
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.4);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1100px) and (max-width: 1400px) {
  :root {
    --show-item-size: 18vw;
    --items-per-page: 5;
    --pagination-width: 17px;
    --category-title-size: 2vw;
  }

  .category-hover-data,
  .tooltip {
    font-size: 0.9vw;
  }

  .category-item-genres {
    font-size: 0.8vw;
  }

  .category-special-badge,
  .category-age-rating {
    font-size: 0.7vw;
  }

  .category-icon {
    min-height: 2.75vh;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  :root {
    --show-item-size: 22.5vw;
    --items-per-page: 4;
    --pagination-width: 14px;
    --category-title-size: 2.5vw;
  }

  .category-hover-data,
  .tooltip {
    font-size: 1.1vw;
  }

  .category-item-genres {
    font-size: 1vw;
  }

  .category-special-badge,
  .category-age-rating {
    font-size: 0.9vw;
  }

  .category-icon {
    min-height: 2.75vh;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  :root {
    --show-item-size: 30vw;
    --items-per-page: 3;
    --pagination-width: 10px;
    --category-title-size: 3vw;
  }

  .category-hover-data,
  .tooltip {
    font-size: 1.3vw;
  }

  .category-item-genres {
    font-size: 1.2vw;
  }

  .category-special-badge,
  .category-age-rating {
    font-size: 1.1vw;
  }

  .category-icon {
    min-height: 2.5vh;
  }
}

@media (max-width: 500px) {
  :root {
    --show-item-size: 45vw;
    --items-per-page: 2;
    --pagination-width: 7px;
    --category-title-size: 3.5vw;
  }

  .category-hover-data,
  .tooltip {
    font-size: 2vw;
  }

  .category-item-genres {
    font-size: 1.9vw;
    gap: 4px;
  }

  .separator::before {
    padding-inline-end: 4px;
  }

  .category-special-badge,
  .category-age-rating {
    font-size: 1.8vw;
  }

  .category-icon {
    min-height: 2.25vh;
  }
}
