:root {
  --dialogue-modal-width: 600px;

  --dialogue-title-font-size: 32px;

  --dialogue-info-font-size: 17px;

  --dialogue-button-font-size: 24px;
}

.dialogue-modal-overlay {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  animation: 0.33s ease-out 0.33s forwards fadeIn;
}

.dialogue-modal {
  position: absolute;
  top: 17.5vh;

  min-width: var(--dialogue-modal-width);
  max-width: var(--dialogue-modal-width);
  min-height: max-content;
  background-color: var(--main-bg-color);
  padding: 32px;

  border-radius: 5px;

  animation-delay: 0s;
  animation: 0.33s ease-out forwards modalScaleUp;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.dialogue-title {
  font-size: var(--dialogue-title-font-size);
  font-weight: 500;
}

.dialogue-info {
  font-size: var(--dialogue-info-font-size);
  text-align: justify;
  margin-block-end: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.dialogue-button {
  min-width: 180px;
  background-color: var(--netflix-red);

  border: none;

  font-size: var(--dialogue-button-font-size);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  background-image: linear-gradient(
    to right,
    var(--netflix-dark-red) 0%,
    var(--netflix-red) 51%,
    var(--netflix-dark-red) 100%
  );

  margin-block-start: 5%;
  padding: 5px 30px;

  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);
  border-radius: 10px;
  display: block;
}

.dialogue-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.fade-out-dialogue {
  animation: 0.33s ease-out forwards fadeOut;
}
