:root {
  /* Modal Window Size */
  --size: 900px;
  --size-lg: 800px;
  --size-m: 650px;
  --size-sm: 500px;

  --modal-body-padding: 48px;
  --modal-body-padding-m: 36px;
  --modal-body-padding-sm: 24px;

  --header-title-font-size: 24px;
  --header-title-font-size-m: 20px;

  /* Backdrop */
  --modal-play-font-size: 20px;
  --modal-play-font-size-m: 17px;
  --modal-play-font-size-sm: 14px;

  /* Details */
  --metadata-font-size: 18px;
  --metadata-font-size-m: 16px;
  --metadata-font-size-sm: 12px;

  --age-rating-font-size: 14px;
  --age-rating-font-size-m: 12px;
  --age-rating-font-size-sm: 10px;

  --special-badge-font-size: 12px;
  --special-badge-font-size-m: 10px;
  --special-badge-font-size-sm: 8px;

  --description-font-size: 16px;
  --description-font-size-m: 14px;
  --description-font-size-sm: 12px;

  --production-font-size: 14px;
  --production-font-size-m: 12px;
  --production-font-size-sm: 10px;

  /* Episodes */
  --episode-header-2-font-size: 24px;
  --episode-header-2-font-size-m: 20px;

  --episode-header-3-font-size: 18.5px;
  --episode-header-3-font-size-m: 15.5px;

  --episode-padding-block: 32px;

  --episode-padding-inline: 32px;
  --episode-padding-inline-lg: 28px;
  --episode-padding-inline-m: 12px;

  --episode-data-font-size: 16px;
  --episode-data-font-size-m: 14px;

  --episode-description-font-size: 14px;
  --episode-description-font-size-lg: 13px;
  --episode-description-font-size-m: 12px;

  /* Recommendations */
  --recommendation-size: 225px;
  --recommendation-size-lg: 200px;
  --recommendation-size-m: 160px;
  --recommendation-size-sm: 180px;

  --recommendation-year-font-size: 16px;
  --recommendation-year-font-size-lg: 14px;
  --recommendation-year-font-size-m: 12px;

  --recommendation-description-font-size: 15px;
  --recommendation-description-font-size-lg: 13px;
  --recommendation-description-font-size-m: 11px;

  /* Trailers */
  --trailer-size: 250px;
  --trailer-size-lg: 215px;
  --trailer-size-m: 176px;
  --trailer-size-sm: 130px;

  --trailer-title-font-size: 16px;
  --trailer-title-font-size-lg: 15px;
  --trailer-title-font-size-m: 14px;
  --trailer-title-font-size-sm: 12px;
}

.media-modal-overlay {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.33s ease-out forwards fadeIn;
}

.media-modal {
  position: absolute;
  top: 5vh;
  min-width: var(--size);
  max-width: var(--size);
  background-color: var(--main-bg-color);
  padding-block-end: 5vh;
  border-radius: 5px;
  animation-delay: 0s;
  animation: 0.33s ease-out forwards modalScaleUp;
}

.full-size {
  min-width: calc(var(--size) * 1.25);
  max-width: calc(var(--size) * 1.25);
  animation: 0.33s ease-out forwards slideRight;
}

.fade-out-modal {
  animation: 0.33s ease-out forwards fadeOut;
}

.nav-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
  background-color: rgb(20, 20, 20);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modal-back {
  position: absolute;
  left: 16px;
  top: 16px;
}

.modal-close svg {
  fill: var(--white);
}

.modal-body {
  padding-inline: var(--modal-body-padding);
}

/* All classes relating to modal backdrop */

.media-backdrop-wrapper {
  position: relative;
  height: 60vh;
  display: flex;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.modal-backdrop .category-loading-skeleton {
  height: 60vh;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
}

.modal-backdrop-image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
}

.modal-backdrop-metadata {
  padding-inline: 2rem;
  margin-block-end: 8rem;
  display: flex;
  width: 100%;
  align-items: end;
}

.modal-backdrop-metadata > div {
  flex: 1;
  z-index: 1;
}

.modal-backdrop-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-metadata-logo {
  max-width: 400px;
}

.title-name {
  font-size: 42px;
  font-weight: 600;
  text-shadow: 0 0 5px rgb(20, 20, 20);
}

.modal-backdrop-icons {
  display: flex;
  gap: 12px;
}

.modal-play {
  min-width: 15vw;
  padding-inline: 1vw;
  min-height: 5vh;
  border-radius: 5px;
  font-size: var(--modal-play-font-size);
  font-weight: bold;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border: none;
}

.modal-play:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-icon {
  border-radius: 50%;
  min-height: 5vh;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.small {
  min-height: 2vh;
  max-height: 4vh;
  margin-inline-start: auto;
}

.modal-icon:hover {
  border-color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
}

.modal-icon svg {
  width: 75%;
  height: 75%;
  fill: var(--white);
}

.modal-backdrop-right {
  display: flex;
  justify-content: end;
}

.modal-sound {
  border-radius: 50%;
  min-height: 5vh;
  aspect-ratio: 1 / 1;
  min-width: max-content;
  background-color: transparent;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.33s ease-out;
}

.modal-sound:hover {
  opacity: 1;
}

.modal-sound svg {
  width: 75%;
  height: 75%;
  fill: var(--white);
}

.media-modal-spacer {
  background-color: transparent;
  position: absolute;
  min-height: 5vh;
  width: 100%;
  bottom: -5vh;
}

/* All classes relating to media details in modal */

.media-details {
  display: flex;
  gap: 48px;
  margin-block-end: 64px;
}

.media-metadata {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.metadata {
  display: flex;
  gap: 8px;
  font-size: var(--metadata-font-size);
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.description {
  font-size: var(--description-font-size);
}

.media-badge {
  display: inline-block;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 4px;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.age {
  font-size: var(--age-rating-font-size);
}

.special {
  font-size: var(--special-badge-font-size);
}

.accessibility-icon {
  width: 32px;
  height: 32px;
}

.media-production {
  flex: 1;
  font-size: var(--production-font-size);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.media-tag {
  color: rgba(255, 255, 255, 0.4);
}

.emphasis {
  font-style: italic;
}

.more:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* All classes relating to episodes */

.media-episodes {
  margin-block-end: 64px;
}

.episodes-header {
  display: flex;
  justify-content: space-between;
  margin-block-end: 16px;
}

.episodes-header h2 {
  font-size: var(--episode-header-2-font-size);
  font-weight: 500;
}

.episodes-header h3 {
  font-size: var(--episode-header-3-font-size);
  font-weight: 400;
}

.custom-select {
  position: relative;
  width: 220px;
  font-size: 18px;
  font-weight: 500;
}

.season-select {
  width: 100%;
  height: 100%;
  padding-block: 8px;
  padding-inline: 16px;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
  color: var(--white);
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.season-select::after {
  content: '';
  width: 5px;
  border-width: 5px;
  border-color: white transparent transparent;
  border-style: solid;
  transition: transform 0.2s linear;
}

.active.season-select::after {
  transform: rotate(180deg);
}

.season-list {
  width: 125%;
  padding-block: 16px;
  position: absolute;
  right: 0;
  margin-top: 5px;
  z-index: 1;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
}

.season-list-item {
  padding-inline: 16px;
  padding-block: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.episode-count {
  font-size: 15px;
  font-weight: 400;
}

.season-list-item:hover {
  background-color: rgb(48, 48, 48);
}

.season-list-separator {
  border: 1px solid rgb(96, 96, 96);
  margin: 16px;
}

.season-header {
  font-size: 24px;
  font-weight: 500;
  margin-block: 32px;
}

.season-one {
  margin-block: 0;
}

.episodes-wrapper {
  position: relative;
  max-height: 152.5vh;
  overflow-y: hidden;
}

.first-episode {
  border-top-style: solid;
  border-top-color: rgb(64, 64, 64);
  border-top-width: 1px;
}

.media-episode {
  height: 15vh;
  width: 100%;
  border-radius: 6px;
  border-bottom-color: rgb(64, 64, 64);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-block: var(--episode-padding-block);
  padding-inline: var(--episode-padding-inline);
  cursor: pointer;
  overflow-y: hidden;
}

.media-episode:hover .play-icon,
.recommendation:hover .play-icon,
.trailer:hover .play-icon {
  opacity: 1;
}

.episode-wrapper {
  display: flex;
  gap: 16px;
  height: 100%;
}

.episode-index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  min-width: 48px;
  color: rgb(210, 210, 210);
}

.episode-img {
  height: 100%;
  position: relative;
  flex: 0 0 20%;
}

.episode-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.play-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  margin: auto;
  inset: 0;
  transform: translateX(4px);
  opacity: 0;
  transition: opacity 0.33s linear;
  cursor: pointer;
}

.episode-data {
  flex: 1;
}

.episode-title-wrapper {
  font-size: var(--episode-data-font-size);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding-bottom: 8px;
}

.episode-description {
  font-size: var(--episode-description-font-size);
  color: rgb(210, 210, 210);
}

/* All classes relating to recommendations */
.media-recommendations {
  margin-block-end: 32px;
}

.header-title {
  font-size: var(--header-title-font-size);
  font-weight: 500;
  margin-block-end: 16px;
}

.center {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 32px;
  animation: 0.33s ease-out forwards fadeIn;
}

.recommendations-wrapper {
  position: relative;
}

.recommendations-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
  max-height: 90vh;
  overflow-y: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    transparent 100%
  );
}

.recommendations-container.full-view {
  padding-block-end: 64px;
}

.full-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  background-color: rgb(20, 20, 20);
  border-top: 1px solid rgb(96, 96, 96);
  z-index: 2;
}

/* To remove overflow and allow the toggle to remain visible */
.full-view.wrapper {
  overflow: visible;
}

.full-view .full-toggle {
  bottom: -32px;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.show-more-icon {
  border-radius: 50%;
  min-height: 3vh;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(32, 32, 32, 0.5);
}

.show-more-icon:hover {
  border-color: var(--white);
}

.recommendations-show-more {
  width: 48px;
  height: 48px;
  top: -24px;
}

.recommendations-show-more svg {
  width: 50%;
  height: 50%;
}

.recommendation {
  flex: 0 0 var(--recommendation-size);
  height: auto;
  aspect-ratio: 2 / 5;
  background-color: rgba(47, 47, 47, 255);
  cursor: pointer;
  border-radius: 5px;
}

.poster {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow-x: clip;
}

.recommendation .play-icon,
.trailer .play-icon {
  width: 64px;
  height: 64px;
}

.poster img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}

.recommendation-type {
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  margin-block-start: 10px;
  margin-inline-end: 10px;
  text-shadow: black 0 0 2px;
}

/* Character limit 140 characters */
.recommendation-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.media-year-small {
  font-size: var(--recommendation-year-font-size);
}

.recommendation-description {
  font-size: var(--recommendation-description-font-size);
  color: rgb(210, 210, 210);
}

/* All classes for trailers & more */

.trailers {
  margin-block-end: 32px;
}

.trailers-wrapper {
  position: relative;
  padding-block-end: 16px;
}

.trailers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-inline-start: 16px;
  padding-block-end: 48px;
  max-height: 60vh;
  overflow-y: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    transparent 100%
  );
}

.trailer-link {
  display: block;
  flex: 0 0 var(--trailer-size);
}

.trailer {
  position: relative;
  aspect-ratio: 1 / 0.8;
  text-align: center;
}

.trailer-image {
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-block-end: 8px;
  overflow: clip;
}

.trailer-title {
  display: block;
  font-size: var(--trailer-title-font-size);
  font-weight: 500;
}

.maturity {
  display: flex;
  gap: 8px;
}

/* All about that navigation, baby */
.navigation:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navigation-result {
  opacity: 0;
  transform: scale(0.5);
  animation: 0.33s ease-out forwards showUp;
}

/* Utility */

.full-view {
  mask-image: none;
  max-height: none;
}

.hidden {
  display: none;
}

.maskless {
  mask-image: none;
}

/* Responsiveness */
@media (max-width: 1100px) {
  :root {
    /* All Large */

    /* Modal */
    --size: var(--size-lg);

    /* Episodes */
    --episode-padding-inline: var(--episode-padding-inline-lg);
    --episode-description-font-size: var(--episode-description-font-size-lg);

    /* Recommendations */
    --recommendation-size: var(--recommendation-size-lg);
    --recommendation-year-font-size: var(--recommendation-year-font-size-lg);
    --recommendation-description-font-size: var(
      --recommendation-description-font-size-lg
    );

    /* Trailers */
    --trailer-size: var(--trailer-size-lg);
    --trailer-title-font-size: var(--trailer-title-font-size-lg);
  }
}

@media (max-width: 900px) {
  :root {
    /* All Medium */

    /* Modal */
    --size: var(--size-m);

    /* Backdrop */
    --modal-body-padding: var(--modal-body-padding-m);
    --modal-play-font-size: var(--modal-play-font-size-m);

    /* Title details */
    --header-title-font-size: var(--header-title-font-size-m);
    --metadata-font-size: var(--metadata-font-size-m);
    --description-font-size: var(--description-font-size-m);
    --production-font-size: var(--production-font-size-m);
    --age-rating-font-size: var(--age-rating-font-size-m);
    --special-badge-font-size: var(--special-badge-font-size-m);

    /* Episodes */
    --episode-header-2-font-size: var(--episode-header-2-font-size-m);
    --episode-header-3-font-size: var(--episode-header-3-font-size-m);
    --episode-padding-inline: var(--episode-padding-inline-m);
    --episode-data-font-size: var(--episode-data-font-size-m);
    --episode-description-font-size: var(--episode-description-font-size-m);

    /* Recommendations */
    --recommendation-size: var(--recommendation-size-m);
    --recommendation-year-font-size: var(--recommendation-year-font-size-m);
    --recommendation-description-font-size: var(
      --recommendation-description-font-size-m
    );

    /* Trailers */
    --trailer-size: var(--trailer-size-m);
    --trailer-title-font-size: var(--trailer-title-font-size-m);
  }
}

@media (max-width: 700px) {
  :root {
    /* All Small */

    /* Modal */
    --size: var(--size-sm);

    /* Backdrop */
    --modal-body-padding: var(--modal-body-padding-sm);
    --modal-play-font-size: var(--modal-play-font-size-sm);

    /* Title details */
    --metadata-font-size: var(--metadata-font-size-sm);
    --description-font-size: var(--description-font-size-sm);
    --production-font-size: var(--production-font-size-sm);
    --age-rating-font-size: var(--age-rating-font-size-sm);
    --special-badge-font-size: var(--special-badge-font-size-sm);

    /* Recommendations */
    --recommendation-size: var(--recommendation-size-sm);

    /* Trailers */
    --trailer-size: var(--trailer-size-sm);
    --trailer-title-font-size: var(--trailer-title-font-size-sm);
  }

  /* Smaller gap to allow information to show */
  .media-details {
    gap: 16px;
  }

  /* To prevent it going off-screen */
  .full-size {
    min-width: var(--size);
    max-width: var(--size);
  }
}
