:root {
  --main-bg-color: #141414;
  --main-profile-background-color: #333333;
  --main-text-color: #808080;
  --white: #ffffff;

  --margin-value: 1.5rem;
}

/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Css Styling */
body {
  background-color: var(--main-bg-color);
  color: var(--white);
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu",
    sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

.main-header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  min-height: 70px;
  z-index: 1;
}

.main-container {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  animation-name: scale-fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.profile-selection-container {
  min-width: 70%;
}

.profile-selection-header {
  font-size: calc(4vw);
  margin-block: var(--margin-value);
}

.profiles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(2vw);
  margin-block-start: var(--margin-value);
  margin-block-end: calc(var(--margin-value));
}

.profile {
  width: 15%;
  aspect-ratio: 1 / 1.25;
}

.profile:hover span {
  color: var(--white);
  transition: border 0.5s;
}

.profile:hover .profile-picture {
  border: 3px solid var(--white);
}

.profile-picture {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  background-size: cover;
  transition: border 0.25s;
}

.profile-link {
  text-decoration: none;
  color: var(--main-text-color);
}

.profile-name {
  display: inline-block;
  padding-block: 0.5rem;
  font-size: calc(1.5vw);
}

.manage-profiles-button {
  margin-block-start: calc(var(--margin-value) * 2.25);
  margin-block-end: calc(var(--margin-value) * 1);
  font-size: calc(1.5vw);
  letter-spacing: 0.15rem;
  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding-block: 0.25rem;
  padding-inline: 2rem;
}

.manage-profiles-button:hover {
  border-color: var(--white);
  color: var(--white);
}

@media only screen and (max-width: 800px) {
  .profile-selection-header {
    font-size: 30px;
  }

  .profile {
    min-width: 80px;
    min-height: 80px;
  }

  .manage-profiles-button {
    font-size: 12px;
  }
}

/* Animations */
@keyframes scale-fade-in {
  from {
    transform: scale(1.1, 1.1);
    opacity: 0%;
  }

  to {
    transform: scale(1, 1);
    opacity: 100%;
  }
}
