/* Css Styling */
body {
  background-color: var(--main-bg-color);
  color: var(--white);
  font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Ubuntu',
    sans-serif;
}

.profile-list {
  list-style: none;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

.main-header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  min-height: 70px;
  z-index: 1;
}

.main-container {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.centered-div {
  display: flex;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  animation-name: scale-fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.profile-selection-container {
  min-width: 70%;
}

.profile-selection-header {
  font-size: calc(4vw);
  font-weight: normal;
  margin-block: var(--margin-value);
}

.profiles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(2vw);
  margin-block-start: var(--margin-value);
  margin-block-end: calc(var(--margin-value));
}

.profile {
  width: 15%;
  aspect-ratio: 1 / 1.25;
}

.profile:hover span {
  color: var(--white);
  transition: border 0.5s;
}

.profile:hover .profile-picture-selection {
  /* border: 3px solid var(--white); */
}

.profile:hover .profile-picture-selection::after {
  border-color: var(--white);
}

.profile-picture-selection {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  background-size: cover;
  transition: border 0.25s;
}

.profile-picture-selection::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 3px solid transparent;
  transition: border 0.25s;
}

.profile-link {
  text-decoration: none;
  color: var(--main-text-color);
}

.profile-name-selection {
  display: inline-block;
  padding-block: 0.5rem;
  font-size: calc(1.5vw);
}

.manage-profiles-button {
  margin-block-start: calc(var(--margin-value) * 2);
  margin-block-end: calc(var(--margin-value) * 1);
  font-size: calc(1.5vw);
  letter-spacing: 0.15rem;
  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding-block: 0.25rem;
  padding-inline: 1.5rem;
}

.manage-profiles-button:hover {
  border-color: var(--white);
  color: var(--white);
}

@media only screen and (max-width: 800px) {
  .profile-selection-header {
    font-size: 30px;
  }

  .profile {
    min-width: 80px;
    min-height: 80px;
  }

  .manage-profiles-button {
    font-size: 12px;
    margin-block-start: calc(var(--margin-value) * 1.5);
  }

  .profile-name-selection {
    font-size: 12px;
  }
}
