:root {
  --main-bg-color: #141414;
  --main-profile-background-color: #333333;
  --main-text-color: #808080;
  --white: #ffffff;

  --margin-value: 1.5rem;
}

/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Css Styling */
body {
  background-color: var(--main-bg-color);
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
}

.main-header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  min-height: 70px;
  z-index: 1;
}

.main-container {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.profile-selection-container {
  min-width: 70%;
}

.profile-selection-header {
  font-size: calc(4vw);
  margin-block: var(--margin-value);
}

.profiles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-block-start: var(--margin-value);
  margin-block-end: calc(var(--margin-value));
}

.profile {
  width: 15%;
  aspect-ratio: 1 / 1.25;
}

.profile-picture {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  background-size: cover;
}

.profile-link {
  text-decoration: none;
  color: var(--main-text-color);
}

.profile-name {
  display: inline-block;
  padding-block: 0.25rem;
  font-size: calc(1.5vw);
}

.manage-profiles-button {
  margin-block-start: calc(var(--margin-value) * 2);
  margin-block-end: calc(var(--margin-value) * 1);
  font-size: calc(1.5vw);
  letter-spacing: 0.15rem;
  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding-block: 0.25rem;
  padding-inline: 2rem;
}
