:root {
  --main-bg-color: #141414;
  --main-profile-background-color: #333333;
  --main-text-color: #808080;
  --white: #ffffff;
  --netflix-red: #e50914;
  --netflix-dark-red: #b20710;

  --margin-value: 1.5rem;
}

/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}
