:root {
  --search-item: 14.5vw;
  --search-item-xl: 17.6vw;
  --search-item-lg: 22.25vw;
  --search-item-m: 30vw;
  --search-item-sm: 45.5vw;

  --search-box-xl: 240px;
  --search-box-m: 160px;
  --search-box-sm: 80px;

  --search-item-font-size: 28px;
  --search-item-font-size-xl: 25px;
  --search-item-font-size-lg: 22px;
  --search-item-font-size-m: 18px;
  --search-item-font-size-sm: 18px;

  /* Metadata */
  --search-icon: 1.75vw;
  --search-icon-xl: 2.25vw;
  --search-icon-lg: 3vw;
  --search-icon-m: 4vw;
  --search-icon-sm: 6vw;

  --metadata-font: 0.75vw;
  --metadata-font-xl: 1vw;
  --metadata-font-lg: 1.25vw;
  --metadata-font-m: 1.75vw;
  --metadata-font-sm: 2.5vw;
}

/* Search icon & search box */

.search {
  position: relative;
  height: 40px;
  width: 0;
  transition: all 0.33s ease-out;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
}

.fade-out {
  animation: fadeOut 0.33s ease-out forwards;
  pointer-events: none;
}

.fade-in {
  animation: fadeIn 0.33s ease-out forwards;
}

.search-box {
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(120, 120, 120);
  border-radius: 2.5px;
}

.search-box:focus {
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
}

.search.active {
  width: var(--search-box);
  opacity: 1;
  pointer-events: all;
  margin-inline-end: 24px;
}

.search.active .search-box {
  padding-inline-start: 8px;
  padding-inline-end: 24px;
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
}

/* All about results */

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  padding-inline: 4vw;
  padding-block: 2vh;
  position: relative;
  z-index: 1500;
}

/* Formula for calculating item width based on viewport width to demystify:

Reserve width: Padding left + padding right + (items_per_row * gap - 1).

Item width: (100 - Reserve width) / items_per_row. */

.search-item {
  width: var(--search-item);
  height: auto;
  aspect-ratio: 2 / 3;
  border-radius: 5px;
  transition: transform 0.33s ease-out;
  position: relative;
  z-index: 2000;
}

.search-wrapper {
  height: 105%;
  width: 208%; /* 110% width + margin of metadata percentage */
  position: absolute;
  top: 0;
}

.search-hover:hover {
  transform: scale(1.1);
  z-index: 2001;
}

.search-image-container {
  height: 100%;
}

.search-image {
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
  position: relative;
  z-index: 2000;
}

.search-image-placeholder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  border: 2px dashed rgb(64, 64, 64);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--search-item-font-size);
  overflow: hidden;
  font-weight: 500;
  padding: 1vw;
  z-index: 2000;
}

.search-metadata {
  background-color: rgba(47, 47, 47, 255);
  position: absolute;
  z-index: 1999;
  width: 100%;
  height: 85%;
  top: 7.5%;
  padding: 5%;
  border-radius: 5px;
  transition: margin-left 0.5s ease-out, margin-right 0.5s ease-out;
  display: flex;
  flex-direction: column;
}

.slide-right {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.slide-left {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.slide-right:hover .search-metadata {
  margin-left: 98%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.slide-left:hover .search-metadata {
  margin-right: 98%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.metadata {
  margin-block-start: 1vw;
}

.search-icon {
  border-radius: 50%;
  min-width: var(--search-icon);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.align-right {
  margin-left: auto;
}

.search-description {
  height: 60%;
  margin-block: 1vw;
  font-size: var(--metadata-font);
}

.search-metadata-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.metadata-search {
  display: flex;
  gap: 8px;
  font-size: 18px;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

/* Class for all badges / metadata's font-size where it is viewport dependent. */
.vw-dependent {
  font-size: var(--metadata-font);
}

.search-genres span {
  font-size: var(--metadata-font);
}

.search-observer {
  inset: 99% 0 0 0;
  max-height: 50px;
  background-color: rebeccapurple;
  opacity: 0;
  position: absolute;
}

/* Utility */
.uppermost {
  position: absolute;
  z-index: 2100;
}

.search-hidden {
  visibility: hidden;
}

/* Responsiveness */
@media (min-width: 1100px) and (max-width: 1400px) {
  .search-item {
    width: var(--search-item-xl);
  }

  .search-icon {
    width: var(--search-icon-xl);
  }

  .search-description,
  .search-genres span,
  span.vw-dependent {
    font-size: var(--metadata-font-xl);
  }

  .search-image-placeholder {
    font-size: var(--search-item-font-size-xl);
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .search-item {
    width: var(--search-item-lg);
  }

  .search-icon {
    width: var(--search-icon-lg);
  }

  .search-description,
  .search-genres span,
  span.vw-dependent {
    font-size: var(--metadata-font-lg);
  }

  .search-image-placeholder {
    font-size: var(--search-item-font-size-lg);
  }
}

@media (max-width: 800px) {
  .search-item {
    width: var(--search-item-m);
  }

  .search-icon {
    width: var(--search-icon-m);
  }

  .search-description,
  .search-genres span,
  span.vw-dependent {
    font-size: var(--metadata-font-m);
  }

  .search.active {
    width: var(--search-box-m);
  }

  .search-image-placeholder {
    font-size: var(--search-item-font-size-m);
  }
}

@media (max-width: 500px) {
  .search-item {
    width: var(--search-item-sm);
  }

  .search-icon {
    width: var(--search-icon-sm);
  }

  .search-description,
  .search-genres span,
  span.vw-dependent {
    font-size: var(--metadata-font-sm);
  }

  .search.active {
    width: var(--search-box-sm);
  }
}
